*.html
_xmsgs
ipcore_dir
iseconfig
*.cf
build/
*.o

*.xst
*.prj
*.stx
*.ref
*.gise
*.xise
*.vho
.lso
isim
*.log
*.xmsgs
*.ini
*.bld
*.cmd_log
*.ngc
*.ngd
*.ngr
*.syr
*.iso
*.map
*.mrp
*.xrpt
*.spl
*.sym
*.lst
*.xbcd
*.exe
*.wdb

test_control

*.xml
*.ncd
*.xpi
*.pad
*.par
*.pcf
*.ptwx
*.twr
*.twx
*.unroutes
*.ngm

planAhead*