*.html
_xmsgs
ipcore_dir
iseconfig
*.cf
build/
*.o
test[^.]*
*.xst
*.prj
*.stx
*.ref
*.gise
*.xise
*.vho
*.bld
*.cmd_log
*.ngc
*.ngd
*.ngr
*.syr
*.iso
*.map
*.mrp
*.xrpt
*.spl
*.sym
*.lst
*.xbcd
.lso
isim
*.log
*.xmsgs
*.ini
